
.profile{
  display: flex;
  justify-content: center;
  .user {
    padding: 1em;
    p{
      padding: 0 0.2em 0 0.2em;
    }
    .user-info{
      display:flex;
      .follower-info{
        display: flex;
      }

    }
    .follow-button{
      display: flex;
      justify-content: center;
    }

  }

}
.account_type{
  display: flex;
  justify-content: center;
  text-transform: capitalize;
  color: rgb(78, 85, 92)
}
app-post{
  width: 100%;
}
.content{
  display: flex;
  justify-content: flex-start;

}

.create-post{
  width: 100%;
  display:flex;
  justify-content: center;
  margin: 0.5em;
}
