<div *ngIf="loggedIn.length > 0">
  <div class="profile">
    <div class="user">
      <div class="user-info">
        <div class="user-name">
          <p>{{user}}</p>
        </div>
        <div class="follower-info">
          <p class="followers-count">Followers: {{followers.length}}</p>
          <p class="following-count">Following: {{following.length}}</p>
        </div>
        </div>
        <div class="content" *ngIf="loggedIn !== user">
          <div class="follow-button">
            <button mat-button *ngIf="!currentUserFollowing" (click)="follow();">
              <span>Follow</span>
            </button>
            <button mat-button *ngIf="currentUserFollowing" (click)="unfollow();">
              <span>Unfollow</span>
            </button>
          </div>
        </div>
    </div>
  </div>
  <div class="content" *ngIf="loggedIn == user">
    <app-post></app-post>
  </div>
</div>

