<div class="posts">
  <div *ngIf="posts.length == 0;">
    <p>
      No posts yet!
    </p>
  </div>
  <div *ngFor="let post of posts">
    <div class="post">
      <mat-card [ngClass]="loadedComments ? 'card extended':'card'">
        <div class="title">
          <mat-card-title>{{post.author}}</mat-card-title>
          <button class="delete-button" mat-raised-button (click)="delete();">delete</button>
        </div>
        <mat-card>
          <div *ngIf="post.post_type == 'project'">
            <mat-card-content class="post_content">{{post.post_content.projectImage}}, {{post.post_content.projectUrl}}</mat-card-content>
          </div>
          <div *ngIf="post.post_type != 'project'">
            <mat-card-content class="post_content">{{post.post_content}}</mat-card-content>
          </div>
        </mat-card>
        <mat-card-content class="post_caption">
          <span class="post-author-caption">{{post.author}}</span>
          {{post.post_caption}}
          <button class="like" [ngStyle]="post.likes.includes(currentLoggedInUser) && {'color':'red'}" (click)="like($event, post);" mat-icon-button aria-label="Example icon button with a heart icon">
            <mat-icon>favorite</mat-icon>
          </button>
          <mat-card-content class="total-comments" (click)="loadComments(post);" *ngIf="!loadedComments">View all {{post.comments.length}} comments</mat-card-content>
        </mat-card-content>
        <div class="comments-container" *ngIf="post.loadedComments">
          <div class="comments">
            <div *ngFor="let comment of comments | keyvalue">
              <mat-card-content class="comment-author" *ngIf="comment.key == 'author'">{{comment.value}}</mat-card-content>
              <mat-card-content class="comment" *ngIf="comment.key =='comment'">{{comment.value}}</mat-card-content>
            </div>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>

