.post_content{
  width: 200px;
  height: 200px;
}

.post_caption > span {
  padding:0 0.3em 0 0;
}


.card{
  height: 300px;
  transition: 0.5s ease-in-out;
}
.comments-container{
  transition: 0.5s ease-in-out;
}
.card.extended{
  height: 370px;
}
.comments{
  display: flex;
  flex-direction: row;
}

.comment-author{
  color:red;
}
.comment {
  padding:0 0 0 0.3em;
}




