.post_content{
  width: 200px;
  height: 200px;
}

.post_caption > span {
  padding:0 0.3em 0 0;
}

.loaded-comments.clicked{
  transition: 5s ease-out;
}

.comments{
  display: flex;
  flex-direction: row;
}

.comment-author{
  color:red;
}
.comment {
  padding:0 0 0 0.3em;
}
