<mat-card>
  <mat-card-title color="accent">Register</mat-card-title>
  <mat-card-content>
    <div class="form">
    <div class="exists" *ngIf="registration">
      <p *ngIf="checkType(registration.message) =='string'" style="color:#ff4081">
        {{registration.message}} <a routerLink="/login"><button type="submit" mat-button color="accent">Login</button></a>
      </p>
    </div>

      <form [formGroup]="form" (ngSubmit)="submit()">
        <p>
          <mat-form-field>
            <input type="text" matInput placeholder="Email" formControlName="email">
          </mat-form-field>
        </p>
        <p>
          <mat-form-field>
            <input type="text" matInput placeholder="Username" formControlName="user_name">
          </mat-form-field>
        </p>
          <p>
            <mat-form-field>
              <input type="text" matInput placeholder="First Name" formControlName="first_name">
            </mat-form-field>
          </p>
          <p>
            <mat-form-field>
              <input type="text" matInput placeholder="Last Name" formControlName="last_name">
            </mat-form-field>
          </p>
          <p>
            <mat-form-field>
              <input type="password" matInput placeholder="Password" formControlName="password">
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="fill">
              <mat-label>Account Type</mat-label>
              <mat-select [formControl]="form.controls.user_type" required>
                <mat-option>--</mat-option>
                <mat-option *ngFor="let account_type of account_types" [value]="account_type">
                  {{account_type | titlecase}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="form.controls.user_type.hasError('required')">Please choose an account type</mat-error>
            </mat-form-field>
          </p>
          <div class="button">
            <button type="submit" mat-button color="accent">Register</button>
          </div>
          <span>Already have an account?</span>
          <a routerLink="/login"><button type="submit" mat-button color="accent">Login</button></a>
        </form>
      </div>
  </mat-card-content>
</mat-card>
