.exists{
  display: flex;
  justify-content: center;
}
mat-card-title{
  display: flex;
  justify-content: center;
}
mat-card-content {
  display: flex;
  justify-content: center;
}

.button {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
}
